@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-blue: #063aa9;
  --color-lightblue: #9ca4b5;
  --color-purewhite: #ffffff;
  --color-black: #050505;
  --color-white: #fdfdfd;
  --color-lightgrey: #f0f2f5;
  --color-grey: #6e6e6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button,
input[type="submit"],
input[type="button"] input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 20rem;
}

.content {
  display: flex;
  justify-content: center;
}

/************/
/** NAVBAR **/
/************/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-blue);
  display: flex;
}

.links {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.4s;
  font-weight: 400;
}

.links:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}

/*********************/
/**SIGN IN & SIGN UP**/
/*********************/

.main-form {
  display: flex;
  flex-direction: column;
}

.left-part,
.right-part {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 70vh;
  height: auto;
  box-shadow: 0px 8px 15px 0px #00000057;
}

.left-part p,
.right-part p {
  padding: 0.8rem 0 0.3rem 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.right-part p {
  color: var(--color-white);
}

.left-part h1,
.right-part h1 {
  text-align: center;
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 800;
}

.left-part {
  background-color: var(--color-lightgrey);
}

.left-part h1 {
  color: var(--color-blue);
}

.left-part h2,
.right-part h2 {
  font-size: 1.7rem;
}

.right-part {
  background-color: var(--color-grey);
}

.right-part h1,
.right-part h2 {
  color: var(--color-white);
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.line {
  height: 0.1rem;
  width: 4rem;
  background-color: var(--color-blue);
}

.right-part .line {
  width: 4rem;
  background-color: var(--color-purewhite);
}

.right-part input[type="email"],
.right-part input[type="password"],
.left-part input[type="email"],
.left-part input[type="password"] {
  width: 20rem;
  height: 3rem;
  padding: 0.313rem;
  outline: none;
  transition: 0.7s;
  border: 0.125rem solid var(--color-grey);
  border-radius: 0.6rem;
}

.right-part input[type="email"],
.right-part input[type="password"] {
  border-color: var(--color-lightgrey);
}

.input-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-part input[type="email"]:focus,
.left-part input[type="password"]:focus {
  border-color: var(--color-blue);
}

.right-part input[type="email"]:focus,
.right-part input[type="password"]:focus {
  border-color: var(--color-black);
}

.login,
.refresh,
.btn-linkedin {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-top: 4rem;
  background-color: var(--color-blue);
  border-radius: 25px;
  padding: 1rem;
  transition: 0.7s;
}

.refresh:hover,
.login:hover {
  background-color: #6e6e6e;
}

.signin {
  color: var(--color-black);
  font-size: 1.2rem;
  margin: 4rem 0 5rem 0;
  background-color: var(--color-purewhite);
  border-radius: 25px;
  padding: 1rem;
  transition: 0.7s;
}

.signin:hover {
  background-color: var(--color-lightblue);
}

/*********************/
/**ABOUT & MEMBERS****/
/*********************/

.title-members-section {
  padding: 2rem;
  background-color: var(--color-grey);
}

.title-members-section h1 {
  text-align: center;
  color: var(--color-purewhite);
}

.about-content,
.members-content {
  margin-top: -2rem;
  text-align: center;
  background-color: var(--color-lightgrey);
  min-height: 40rem;
  height: auto;
  padding: 2rem 0 0.8 0;
  width: 100vw;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 8px 15px 0px #00000057;
}

.members-content {
  margin-top: 0rem;
}
.about-content p,
.members-content p {
  padding: 0.4rem;
  font-size: 1.2rem;
}

.about-content h2 {
  padding-top: 2rem;
  margin: 2rem 0 2rem 0;
}

.about-content .links {
  margin-top: 1.5rem;
  background-color: var(--color-blue);
}

.about-content .links {
margin: 2rem 0 4rem 0;
}

.about-content .links:hover {
  margin-top: 1.5rem;
  background-color: var(--color-lightblue);
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .main-form {
      flex-direction: row;
      margin-top: 4rem;
  }
  .left-part,
  .right-part {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-width: 10rem;
    width: auto;
    min-height: 42rem;
    height: auto;
    box-shadow: 0px 8px 15px 0px #00000057;
  }

  .left-part p,
.right-part p {
  padding: 0.8rem 0 0.3rem 0;
  font-size: 0.9rem;
  font-weight: 400;
}

.left-part h1,
.right-part h1 {
  text-align: center;
  padding-top: 1.4rem;
  font-size: 3rem;
  font-weight: 800;
}

.left-part {
  background-color: var(--color-lightgrey);
  border-radius: 25px 0 0 25px;
}

.left-part h2 {
  font-size: 1.5rem;
}

.right-part {
  background-color: var(--color-grey);
  border-radius: 0 25px 25px 0;
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: 6rem 0 3rem 0;
}

.line {
  height: 0.1rem;
  width: 15rem;
  background-color: var(--color-blue);
  margin: 0 1rem 0 1rem;
}

.right-part input[type="email"],
.right-part input[type="password"],
.left-part input[type="email"],
.left-part input[type="password"] {
  width: 20rem;
  height: 2rem;
  padding: 0.313rem;
  outline: none;
  transition: 0.7s;
  border: 0.125rem solid var(--color-grey);
  border-radius: 0.6rem;
}

.right-part .line {
  width: 16.15rem;
  background-color: var(--color-purewhite);
}

.about-content{
  margin-top: 4rem;
  width: 60vw;
  padding: 0rem 4rem 1.3rem 4rem;
}

.members-content {
  
  width: 50rem;
}

.title-members-section{
  margin-top: 5rem;
  border-radius: 25px 25px 0 0;
}


}